// Technical colors for the components
$secondary: #6c757d;
$secondary_bis: lighten($secondary, 8%);
$success: #198754;
$success_bis: lighten($success, 8%);
$danger: #dc3545;
$danger_bis: lighten($danger, 8%);
$warning: #ffc107;
$warning_bis: lighten($warning, 8%);
$info: #0dcaf0;
$info_bis: lighten($info, 8%);
$light: #f8f9fa;
$light_bis: lighten($light, 8%);
$dark: #212529;
$dark_bis: lighten($dark, 8%);

// Theme colors to customize
// https://coolors.co/ca2e55-ffe0b5-8a6552-462521-bdb246
$primary: #FF8600;
$primary_bis: lighten($primary, 8%);
$color1: #27187E; // Dark blue
$color2: #758BFD; // Medium blue
$color3: #AEB8FE; // Light blue
